In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv.bz2', names=["id", "uuid", "date", "type", "value"])

In [3]:
df = df[(df.type.between(10,19)) | (df.type==1)].drop(columns=["id"])
df.head()

                                       uuid        date  type     value
0  2bc16eda651db5936cd31e735c815296fc1579d9  2016-04-01     1  10131.39
6  2bc16eda651db5936cd31e735c815296fc1579d9  2016-04-01    10      3.89
7  2bc16eda651db5936cd31e735c815296fc1579d9  2016-04-01    11     22.23
8  2bc16eda651db5936cd31e735c815296fc1579d9  2016-04-01    12      2.93
9  2bc16eda651db5936cd31e735c815296fc1579d9  2016-04-01    13      2.00

In [7]:
names={
 1: "steps",
 10: 'sleepduration',
 11: 'bedin',
 12: 'bedout',
 13: 'nbawake',
 14: 'awakeduration',
 15: 'time to sleep',
 16: 'time to wake up',
 17: 'lightduration',
 18: 'remduration',
 19: 'deepduration'}

In [8]:
for col in names.values():
    df[col]=None

In [10]:
for n,col in names.items():
    df[col]=df.where(df.type==n)["value"]

In [ ]:
df = df.groupby(["uuid","date"]).max().drop(columns=["type","value"])

In [ ]:
df

In [ ]:
df.to_csv('dati.csv.gz',compression='gzip')

In [35]:
from sklearn.preprocessing import MinMaxScaler

def scale(x):
 x["user_minmax_steps"]=MinMaxScaler().fit_transform(x[["steps"]])
 return x

df=df.groupby("uuid").apply(scale,include_groups=False)

In [36]:
df = df.rename_axis(["uuid","id"]).reset_index().drop(columns=["id"]) #per un csv pi√π pulito
df

,uuid,date,steps,sleepduration,bedin,bedout,nbawake,awakeduration,time to sleep,time to wake up,lightduration,remduration,deepduration,user_minmax_steps
0,1003e58667235e01b49008155604980b3900b00e,2016-07-31,3049.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.169272
1,1003e58667235e01b49008155604980b3900b00e,2016-08-01,4309.81,11.31,22.11,9.86,2.02,0.53,0.15,0.0,7.38,NaN,3.99,0.239404
2,1003e58667235e01b49008155604980b3900b00e,2016-08-02,255.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.013856
3,1003e58667235e01b49008155604980b3900b00e,2016-08-03,5118.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.284364
4,1003e58667235e01b49008155604980b3900b00e,2016-08-04,2228.88,12.90,20.23,9.79,5.04,0.90,0.10,0.0,7.91,NaN,4.94,0.123650
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2160282,fffd4caa4a492ac7659eb075df52755ee36122a3,2017-02-14,3456.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.214162
2160283,fffd4caa4a492ac7659eb075df52755ee36122a3,2017-02-15,3819.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.236726
2160284,fffd4caa4a492ac7659eb075df52755ee36122a3,2017-02-16,6691.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.414977
2160285,fffd4caa4a492ac7659eb075df52755ee36122a3,2017-02-17,5366.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.332723
2160286,fffd4caa4a492ac7659eb075df52755ee36122a3,2017-02-19,12187.69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.756143

In [38]:
df.to_csv('scalati.csv.gz',compression='gzip',index=False)