In [1]:
import pandas as pd

In [1]:
df = pd.read_csv('data.csv.bz2', names=["id", "uuid", "date", "type", "value"])

In [2]:
df2 = df[(df.type.between(10,19)) | (df.type==1)].drop(columns=["id"])
df2.head()

                                       uuid        date  type     value
0  2bc16eda651db5936cd31e735c815296fc1579d9  2016-04-01     1  10131.39
6  2bc16eda651db5936cd31e735c815296fc1579d9  2016-04-01    10      3.89
7  2bc16eda651db5936cd31e735c815296fc1579d9  2016-04-01    11     22.23
8  2bc16eda651db5936cd31e735c815296fc1579d9  2016-04-01    12      2.93
9  2bc16eda651db5936cd31e735c815296fc1579d9  2016-04-01    13      2.00

In [5]:
names={
 1: "steps",
 10: 'sleepduration',
 11: 'bedin',
 12: 'bedout',
 13: 'nbawake',
 14: 'awakeduration',
 15: 'time to sleep',
 16: 'time to wake up',
 17: 'lightduration',
 18: 'remduration',
 19: 'deepduration'}

In [6]:
for col in names.values():
    df2[col]=None

In [7]:
for n,col in names.items():
    df2[col]=df2.where(df2.type==n)["value"]

In [8]:
df2 = df2.groupby(["uuid","date"]).max().drop(columns=["type","value"])

In [15]:
df2.to_csv('dati.csv.gz',compression='gzip')